* text=auto !eol
/charm.properties.default -text
/pom.xml -text
src/main/Main.iml -text
src/main/java/com/indeed/charm/ContextListener.java -text
src/main/java/com/indeed/charm/LinkifyPattern.java -text
src/main/java/com/indeed/charm/ProjectsLoader.java -text
src/main/java/com/indeed/charm/ReleaseEnvironment.java -text
src/main/java/com/indeed/charm/VCSClient.java -text
src/main/java/com/indeed/charm/VCSException.java -text
src/main/java/com/indeed/charm/actions/BaseBranchAction.java -text
src/main/java/com/indeed/charm/actions/BaseBranchLogAction.java -text
src/main/java/com/indeed/charm/actions/BranchJob.java -text
src/main/java/com/indeed/charm/actions/BranchJobManager.java -text
src/main/java/com/indeed/charm/actions/CheckoutBranchAction.java -text
src/main/java/com/indeed/charm/actions/CleanupBranchWCAction.java -text
src/main/java/com/indeed/charm/actions/DiffBranchToTrunkAction.java -text
src/main/java/com/indeed/charm/actions/DiffBranchesAction.java -text
src/main/java/com/indeed/charm/actions/DiffStatusVisitor.java -text
src/main/java/com/indeed/charm/actions/DiffTagToTagAction.java -text
src/main/java/com/indeed/charm/actions/DiffTagToTrunkAction.java -text
src/main/java/com/indeed/charm/actions/DisplayLogVisitor.java -text
src/main/java/com/indeed/charm/actions/ListBranchesAction.java -text
src/main/java/com/indeed/charm/actions/ListProjectsAction.java -text
src/main/java/com/indeed/charm/actions/ListTagsAction.java -text
src/main/java/com/indeed/charm/actions/LogBranchAction.java -text
src/main/java/com/indeed/charm/actions/LogEntryVisitor.java -text
src/main/java/com/indeed/charm/actions/LogTrunkSinceBranchAction.java -text
src/main/java/com/indeed/charm/actions/LogTrunkSinceTagAction.java -text
src/main/java/com/indeed/charm/actions/MergeToBranchAction.java -text
src/main/java/com/indeed/charm/actions/ShowIvyDependenciesAction.java -text
src/main/java/com/indeed/charm/actions/VCSActionSupport.java -text
src/main/java/com/indeed/charm/ivy/IvyDependency.java -text
src/main/java/com/indeed/charm/ivy/IvyLoader.java -text
src/main/java/com/indeed/charm/model/CommitInfo.java -text
src/main/java/com/indeed/charm/model/DiffStatus.java -text
src/main/java/com/indeed/charm/model/LogEntry.java -text
src/main/java/com/indeed/charm/model/LogEntryPath.java -text
src/main/java/com/indeed/charm/model/Project.java -text
src/main/java/com/indeed/charm/svn/SVNCommitInfoWrapper.java -text
src/main/java/com/indeed/charm/svn/SVNDiffStatusVisitor.java -text
src/main/java/com/indeed/charm/svn/SVNDiffStatusWrapper.java -text
src/main/java/com/indeed/charm/svn/SVNLogEntryPathWrapper.java -text
src/main/java/com/indeed/charm/svn/SVNLogEntryVisitor.java -text
src/main/java/com/indeed/charm/svn/SVNLogEntryWrapper.java -text
src/main/java/com/indeed/charm/svn/SubversionClient.java -text
src/main/resources/struts.xml -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/charm.css -text
src/main/webapp/favicon.ico -text
src/main/webapp/merge-login.jsp -text
src/main/webapp/show-job.jsp -text
src/main/webapp/view-branches.jsp -text
src/main/webapp/view-deps.jsp -text
src/main/webapp/view-diffs.jsp -text
src/main/webapp/view-log.jsp -text
src/main/webapp/view-projects.jsp -text
src/main/webapp/view-tags.jsp -text
